{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
 <a href="{{ path('app_login') }}" class="btn btn-success mt-4">log IN !</a>
<a href="{{ path('app_register') }}" class="btn btn-success mt-4">register here !!!!</a>
        
{% endblock %}